/* Global Styles */
:root {
    --color-background: #2a2350;
    --color-primary: #4c25b8;
    --color-secondary: #eff1ef;
    --color-link-hover: #ffffff50;
    --color-text: #ffffff;
    --color-shadow: rgba(0, 0, 0, 0.7);
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
.header {
    color: var(--color-secondary);
    font-size: 3rem;

    text-shadow: 0 0 30px var(--color-primary);
    animation: flicker 2s infinite;
    margin: 0 50px;
}

/* Navbar Styles */
.nav {
    background: linear-gradient(to right, var(--color-link-hover), var(--color-link-hover));
    padding: 15px 0;
    box-shadow: 0 4px 10px var(--color-shadow);
}

.nav-link {
    color: var(--color-primary);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 5px;
    position: relative;
    text-shadow: 0 0 20px #c1bed3d5;
    margin: 0 50px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
    border: 2px solid var(--color-background);
    box-shadow: 0 0 15px white;
}

/* Flicker Animation */
@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.6; }
    100% { opacity: 1; }

}

/* Dashboard */
.dashboard {
    padding: 0 100px 0 100px;
}

.start-game-button {
    background-color: var(--pur); 
    color: white; 
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
  
.start-game-button:hover {
    background-color: #9ec6f0; 
    color: var(--pur);
}